/* Styles specific to graph-selection.html */

.graph-option {
    margin: 20px 0;
    font-size: 18px;
}

.confirm-button {
    padding: 10px 20px;
    /* Blue button background */
    background-color: #6DA1EE;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button:hover {
    /* Darker blue on hover */
    background-color: #5b8bd8;
}

.navigation {
    margin-top: 20px;
}
