/* Styles specific to upload.html */

#fileInput {
    /* Hide the actual file input */
    display: none;
}

#fileNameDisplay {
    display: inline-block;
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.upload-button {
    padding: 10px 20px;
    /* Blue button background */
    background-color: #6DA1EE;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-button:hover {
    /* Darker blue on hover */
    background-color: #5b8bd8;
}

.navigation {
    margin-top: 20px;
}
